

body {
	font-family: Arial, Verdana;
	background-color: #FAF9F6;
	color: #212529;
}


h1 {
  	color: #1D3557;
  	margin-left: 20px;
	padding: 50px 30px;
	
}


h2 {
	color: #212529
}

<!-- Styling for Logo -->

.logo-placeholder-image {
    width: 150px;
    height: auto;
    object-fit: contain;
}

<!-- Styling for Primary Pet Pic -->

.primary-pet-placeholder-image {
	width: 200px;
	height: 200px;



}


<!-- Pseudo Element on Donate Button in Footer -->

button::after {
	content: "




}